body{
	display: flex;
	justify-content: center;
	font-family: arial;
	background: #CBCAA9;
}
a{
	text-decoration: none;
}

.estilo {
	box-shadow: 1em 0em 2em rgba(0, 0, 0, 0.34);
	text-align:center;	
	background-color:#f8f8f8;
	width:50em;
}
.menu{
	background: #8383F8;
	margin-bottom: 5em;
	margin-top: -10px;
	overflow: hidden;
	width: 100%;
}
.alinhar{
	display:flex;
	justify-content: center;
}
.a{
	font-size: 1.8em;
	width:5em;
	color: black;
	border: solid 1px #6868CD;
	background-color: #8383F8;
	padding: 0em 2%;
	transition: 0.5s;
}

.a:hover{
	font-size: 2em;
	width:5em;
	font-size: 1.8em;
	color: #ABC9FE;
	border: solid 1px #272779;
	background-color: #2F35DA;
	padding: 0em 2%;
}
